{% extends "base.html" %}
{% block title %}
    {% if for_edit %}
      Редактирование поста
    {% else %}
      Новый пост
    {% endif %}
{% endblock %}

{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Новый пост</div>
      <div class="card-body">
        {% if form.errors %}

        {% endif %}

          {% if post %}
              <form method="POST" enctype="multipart/form-data" action="{% url 'post_edit'  username=user.username post_id=post.id %}">
          {% else %}
              <form method="POST" enctype="multipart/form-data" action="{% url 'new_post' %}">
           {% endif %}

          {% csrf_token %}
           {% for field in form %}
           <div class="form-group row">
              <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label_tag}}</label>
              <div class="col-md-6">
                  {{ field }}
              </div>
          </div>
           {% endfor %}

           {% if post %}
        <button type="submit" class="btn btn-primary">
               Сохранить
              </button>
          {% else %}
       <button type="submit" class="btn btn-primary">
                Добавить
              </button>
           {% endif %}

        </form>

      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->

{% endblock %}